.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para resaltar las preguntas */
h2 {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  padding: 10px; /* Espaciado interior para las preguntas */
}

/* Estilos para el listado de respuestas */
ul {
  list-style: inside; /* Puntos del listado dentro del contenedor */
  color: black; /* Color del texto de las respuestas */
}

li {
  padding: 5px; /* Espaciado interior para las respuestas */
}

/* Alineado a la izquierda */
div {
  text-align: left; /* Alineado de las preguntas y respuestas a la izquierda */
}